@import url('https://fonts.googleapis.com/css2??family=Kalam&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Courgette&family=Shantell+Sans:ital,wght@1,500&display=swap');

/* Defaults */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
:root {
	--font-color: GhostWhite;
	--background-color: #31572c;
	--background-color2: #90a955;
	--background-color3: #ecf39e;
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	scrollbar-width: thin;
	scrollbar-color: var(--background-color) var(--background-color3);
}
html ::-webkit-scrollbar {
	width: 1rem;
}
html ::-webkit-scrollbar-track {
	background-color: transparent;
}
html ::-webkit-scrollbar-thumb {
	background-color: #31572cc0;
	border: 0.2rem solid var(--background-color3);
	border-radius: 1rem;
}
html ::-webkit-scrollbar-thumb:hover {
	border: 0.2rem solid gold;
}
body {
	color: var(--font-color);
	font-family: 'Kalam', cursive;
	background-color: var(--background-color);
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: var(--background-color3);
}
h1,
h2,
h3,
h4,
h5,
h6,
.btn {
	cursor: default;
	font-family: 'Shantell Sans', cursive;
}

/* Navbar */
.nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 0.5rem;
	background-color: var(--background-color);
	border-bottom: 0.4rem solid black;
	box-shadow: 0 0 2.5rem 0.5rem black;
	color: white;
	width: 100%;
	z-index: 20;
}
.nav-logo {
	margin: 1rem;
	padding: 1.2rem;
	font-size: 3rem;
	width: 100%;
}

.nav-items {
	list-style: none;
	margin: 1rem;
	width: 100%;
	padding: 1rem;
	justify-content: flex-end;
}

.nav-item {
	display: inline-block;
	font-size: 2rem;
	padding: 0.5rem;
	margin-right: 1.5rem;
}
.nav-item a {
	text-decoration: none;
	color: var(--font-color);
}
.nav-item a:hover {
	text-decoration: underline;
	color: gold;
}
/* Main */
.main {
	overflow-y: hidden;
}
.main-headingContainer {
	transition: all 0.2s;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(./imgs/about-bg.png);
	width: 100%;
	height: 100vh;
}
/* Header */
.heading {
	height: 100%;
	width: 50%;
	min-width: 80rem;
	background-color: #31572cd1;
}
.heading-group {
	width: 100%;
	color: var(--font-color);
	cursor: default;
	padding: 5rem;
}
.heading-group p,
.heading-group h1 {
	transition: all 0.5s;
	text-align: center;
	width: 100%;
	padding: 2rem;
}
.heading-group p {
	font-size: 5rem;
	margin: -2rem;
}
.heading-group h1 {
	font-size: 15rem;
}

/* Menu */
.menu {
	width: 100%;
	height: 100vh;
	background-color: var(--background-color2);
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(./imgs/menu.png);
	z-index: 10;
}
#menu {
	justify-content: space-evenly;
}
.menu-items {
	width: 100%;
	height: 100%;
	max-width: 100rem;
	max-height: 75rem;
	padding: 5rem;
	background-color: #90a955c1;
}
.menu-items-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 1rem;
	gap: 2rem;
	width: 100%;
	max-width: 90rem;
	height: 100%;
	max-height: 35rem;
	overflow: hidden;
}
#menuContainer2 {
	justify-content: flex-end;
	align-items: flex-start;
}
.menu-highlights {
	width: 100%;
	max-width: 35rem;
	height: 100%;
	max-height: 30rem;
	background-color: var(--background-color);
	text-align: center;
}
.menu-highlights h3 {
	transition: all 1.5s;
	font-size: 5rem;
}
.menu-item {
	background-color: var(--background-color);
	width: 100%;
	max-width: 50rem;
	height: 100%;
	max-height: 30rem;
	transform: scale(1);
}

.menu-img.border-radius {
	border-radius: 0.5rem;
}
.menu-item p.border-radius {
	border-radius: 0.5rem;
}

.menu-img,
.menu-item p {
	width: 100%;
	height: 100%;
}
.menu .btn {
	margin: 1rem;
}
.menu-item p {
	overflow-y: auto;
	scrollbar-width: thin;
}
.menu-items ::-webkit-scrollbar,
.menu-item p::-webkit-scrollbar {
	width: 1rem;
}
.menu-items ::-webkit-scrollbar-track,
.menu-item p::-webkit-scrollbar-track {
	background-color: transparent;
}
.menu-items ::-webkit-scrollbar-thumb,
.menu-item p::-webkit-scrollbar-thumb {
	background-color: #31572cc0;
	border: 0.2rem solid var(--background-color3);
	border-radius: 1rem;
}
.menu-items ::-webkit-scrollbar-thumb:hover,
.menu-items p::-webkit-scrollbar-thumb:hover {
	border: 0.2rem solid gold;
}

.menu-item h3,
.menu-item p {
	opacity: 0;
	transition: all 0.2s;
}
.menu-item h3:hover,
.menu-item p:hover {
	opacity: 1;
}

/* About us */
.about-us {
	height: 100vh;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	z-index: 2;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3rem;
}

.about-us .description,
.about-us-container figure,
.about-us h4,
.about-us-form {
	width: 50%;
}
.about-us .title {
	top: 6rem;
}
.about-us-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	max-height: 120rem;
	max-width: 100rem;
}
#st {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(./imgs/customer-info.png);
	overflow-y: auto;
	overflow-x: hidden;
}
#st1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(./imgs/about-bg.png);
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-left: 0.4rem solid black;
}
#st2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(./imgs/us.png);
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-right: 0.4rem solid black;
}

#st1 .description strong {
	font-size: 3.5rem;
	padding: 0.2rem;
}

#first {
	min-width: 100%;
	background-color: #90a955c9;
	padding: 5rem;
}
.about-us-container,
.about-us .description {
	scrollbar-width: thin;
	scrollbar-color: black #31572cc0 #90a955;
	overflow-y: auto;
	overflow-x: hidden;
}
.about-us-container::-webkit-scrollbar,
.about-us .description::-webkit-scrollbar {
	width: 1rem;
}
.about-us-container::-webkit-scrollbar-track,
.about-us .description::-webkit-scrollbar-track {
	background-color: transparent;
}
.about-us-container::-webkit-scrollbar-thumb,
.about-us .description::-webkit-scrollbar-thumb {
	background-color: #31572cc0;
	border: 0.2rem solid var(--background-color3);
	border-radius: 1rem;
}
.about-us ::-webkit-scrollbar-thumb:hover,
.about-us-container ::-webkit-scrollbar-thumb:hover {
	border: 0.2rem solid gold;
}
.about-us .description {
	font-size: 2.5rem;
	padding: 3rem;
	width: 100%;
	max-width: 70rem;
	max-height: 55rem;
	background-color: transparent;
	transition: all 0.5s;
}

.about-us .description:hover {
	background-color: #31572cc0;
}
.about-us h4 {
	width: 100%;
	max-width: 50rem;
	padding: 1rem;
	margin: 1rem auto;
	font-size: 2rem;
	background-color: #31572cc0;
	text-align: center;
}
.about-us-form {
	margin: 1rem;
	width: 100%;
	max-width: 50rem;
	background-color: #31572cc0;
	padding: 1rem;
}
.about-us-form fieldset {
	padding: 1.2rem;
	font-size: 2rem;
	width: 100%;
	border: none;
	border-bottom: 0.4rem solid #31572cc0;
}
.about-us-form input,
.about-us-form textarea {
	padding: 0.5rem;
	margin: 0.5rem 0;
	font-size: 2rem;
	width: 100%;
	display: inline;
	vertical-align: bottom;
}
.about-us-form .btn {
	font: 1.2rem;
	margin: 1rem auto;
}
.about-us address {
	margin: 0.5rem;
}
/* Footer */
footer {
	border-top: 1.4rem solid black;
	text-align: center;
	font-size: 2rem;
	background-color: var(--background-color2);
	padding: 2rem;
}
footer p {
	background-color: var(--background-color);
	width: fit-content;
	margin: 0 auto;
	padding: 1rem;
	cursor: default;
}
/* Utilities */
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-center {
	justify-content: center;
	align-items: center;
}
.background-img-center {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.active {
	background-color: var(--background-color);
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.title {
	top: -6rem;
	padding: 2rem;
	font-size: 4rem;
	width: fit-content;
	text-align: center;
	background-color: var(--background-color);
	z-index: 5;
}
.btn,
a {
	transition: all 0.2s;
}
.btn {
	display: block;
	font-size: 3rem;
	padding: 1rem;
	color: var(--font-color);
	background-color: black;
	cursor: pointer;
	z-index: 3;
}
.btn:hover {
	transform: scale(1.2);
	color: gold;
	border-color: gold;
}
.description {
	font-size: 2rem;
	padding: 1rem;
	width: 100%;
	height: 100%;
	background-color: #31572cd1;
	bottom: 0;
}
.description strong {
	font-size: 2.4rem;
	letter-spacing: -0.2rem;
}
.border {
	border: 0.4rem solid black;
}
.border-radius {
	border-radius: 1rem;
}
.border-topAndBottom {
	border-top: 0.4rem solid black;
	border-bottom: 0.4rem solid black;
}
.border-sides {
	border-left: 0.4rem solid black;
	border-right: 0.4rem solid black;
}
/* Media queries */
@media screen and (max-height: 1024px) {
	.menu {
		padding: 12rem;
	}
	.menu-item {
		min-width: 20rem;
		min-height: 20rem;
	}
	.title {
		top: -5rem;
		font-size: 3rem;
	}
	.about-us .title {
		top: 5rem;
	}
	.about-us-container {
		padding: 0;
	}
	#st2 {
		justify-content: initial;
	}
	#st .description,
	#st1 .description {
		border-top: 0.4rem solid transparent;
		border-bottom: 0.4rem solid transparent;
	}
	#st .description:hover,
	#st1 .description:hover {
		border-top: 0.4rem solid black;
		border-bottom: 0.4rem solid black;
	}

	.about-us .description {
		font-size: 2rem;
		border-radius: 0;
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 1028px) {
	.menu .title {
		font-size: 3.5rem;
	}
	.menu-highlights {
		position: absolute;
		left: -999rem;
	}
	.menu-items,
	.menu-items-container {
		min-width: 40rem;
	}
	.menu-items-container,
	#menuContainer2 {
		overflow-y: auto;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	}
	.menu-items-container {
		padding-top: 5rem;
	}
	.menu-items {
		padding: 0;
	}
	.menu-item p {
		opacity: 1;
	}
	.about-us .title {
		top: 3rem;
		font-size: 3rem;
	}
	.about-us .description {
		font-size: 2rem;
	}
	.about-us-container {
		min-width: 40rem;
	}
	.about-us h4,
	.about-us form input,
	.about-us form fieldset {
		font-size: 1.6rem;
	}
	#first.flex-row {
		flex-direction: column;
	}
	#st {
		border-left: 0.4rem solid black;
		border-right: 0.4rem solid black;
	}
	#st1 {
		border-right: 0.4rem solid black;
		border-bottom-left-radius: 0;
		border-top-right-radius: 1rem;
	}
	#st2.flex-center {
		justify-content: flex-start;
	}
}
@media screen and (max-width: 828px) {
	.nav-logo {
		text-align: center;
	}
	.nav.flex-row {
		flex-direction: column;
	}
	.nav-logo,
	.nav-items {
		margin: 0;
	}
	.nav-items.flex-row {
		justify-content: center;
	}
	.heading-group h1 {
		font-size: 10rem;
	}
	.heading-group p {
		font-size: 3rem;
		margin: 0;
	}
	.menu-highlights h3,
	.menu .title {
		font-size: 2rem;
	}
	#first,
	.about-us {
		padding: 0;
		border: none;
		border-radius: 0;
	}
	.about-us .title {
		position: relative;
	}
	#st,
	#st1,
	#st2 {
		border-left: none;
		border-right: none;
		border-radius: 0;
	}
	.about-us .description {
		background-color: #31572cc0;
	}
}
@media screen and (max-width: 620px) {
	.heading-group p {
		font-size: 2rem;
	}
}
