@use "./variables.scss" as _;
.flex {
  display: flex;
  &-col {
    flex-direction: column;
  }
  &-row {
    flex-direction: row;
  }
  &-center {
    justify-content: center;
    align-items: center;
  }
}

.border {
  border: 0.4rem solid black;
  &-radius-sm {
    border-radius: 0.5rem;
  }
  &-top-radius {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &-bottom {
    border-bottom: 1.4rem solid black;
    &-radius {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }

  &-radius-md {
    border-radius: 1rem;
  }
  &-topAndBottom {
    border-top: 0.4rem solid black;
    border-bottom: 0.4rem solid black;
  }
  &-sides {
    border-left: 0.4rem solid black;
    border-right: 0.4rem solid black;
  }
}

.bg-img-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn,
a {
  transition: all 0.2s;
}
.btn {
  display: inline-block;
  font-size: 3rem;
  padding: 1rem 3rem;
  color: var(--font-color);
  background-color: black;
  cursor: pointer;
  z-index: 3;
  &:hover {
    transform: scale(1.2);
    color: gold;
  }
}

.transition-page {
  transition: all 0.5s ease-in;
}
.title,
.description,
.menu-highlights {
  cursor: default;
}

.title {
  padding: 2rem;
  font-size: 4rem;
  text-align: center;
  background-color: black;
  z-index: 5;
}

.description {
  position: absolute;
  top: 0;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgba(_.$bg-color, 0.9);
  bottom: 0;
}
