$font-color: GhostWhite;
$bg-color: #31572c;
$bg-color2: #90a955;
$bg-color3: #ecf39e;
$my-height: calc(100vh - 7.5vh);
$my-width: clamp(50%, 150rem, 80%);
$my-filter: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
